header {
	background-image: url("../resources/images/the-flatiron-building.png");
}

body {
	text-align: center;
	/*align-content: center;*/
}

footer {
	text-align: left;
}

.imagestrip {
	background-image: url("../resources/images/the-flatiron-building.png");
}

footer {
	background-color: dimgray;
}